@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: clamp(3rem, 4vw, 4.5rem);
  line-height: 1.1;
}

p {
  display: block;
  font-size: clamp(0.75rem, 2vw, 2.5rem);
  line-height: 1.6;
}

button {
  border-radius: 8rem;
  border: 2rem solid transparent;
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.resume-button {
  border-radius: 1rem;
  background-color: white;
  border: 0.1rem solid white;
  padding:0.3rem 0.5rem;
  color: black;
}

button:hover {
  border-color: transparent
}

.glow-effect {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(255, 255, 255, 0.6),
               0 0 40px rgba(0, 123, 255, 0.8);
}
.radial-gradient {
  filter: blur(10rem);
  background: radial-gradient(circle 400px at center, #00b4d8, #7209b7, #560bad);
}

.resume-button:hover {
  border-color: white;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
